
PROJECT_DIR=/Users/jbl/Dropbox/Projets/2024 06 21 HPDL 1414/
ARDUINO_ROOT="/Users/jbl/Library/Arduino15/packages/arduino"
ARDUINO_CLI="/Users/jbl/bin/arduino-cli"

SKETCH_DIR="./hpdl-1414"
ISP_SOURCE="https://raw.githubusercontent.com/arduino/arduino-examples/refs/heads/main/examples/11.ArduinoISP/ArduinoISP/ArduinoISP.ino"

# retrieve these with "arduino-cli board list"
FQBN     ?= arduino:avr:uno
PORT     ?= /dev/cu.usbmodem14401
